In [1]:
a = "this is sravya"
b = 'I am a Business Analyst'
c = "'My native place is Jayapuram'"
d = """Suryadevara"""
print(a);print(b);print(c);print(d)
e = '''Sravya'''; print(e);e
f = '"Suryadevara"';print(f)

this is sravya
I am a Business Analyst
'My native place is Jayapuram'
Suryadevara
Sravya
"Suryadevara"

In [15]:
a = "sravya"
a[1]

'r'

In [17]:
a = "Navya"
a[0:3]

'Nav'

In [19]:
a = "Suryadevara"
a[0:5:3]

'Sy'

In [21]:
a = "SravyaSuryadevara"
a[6:2:-1]

'Sayv'

In [34]:
a = "Merkwood"
print(a[:5:2])
print(a[-1])
print(a[:-3])
print(a[::1])#for printing the whole string
print(a[::-1])# for reversing the string

Mrw
d
Merkw
Merkwood
doowkreM

In [36]:
a = input("enter your String: ")
print(a)
print(a[::-1])
print(a[::1])
print(a[0:-4])
print(a[1:6:2])
print(a[6:1:-2])

enter your String: Sravya Suryadevara
Sravya Suryadevara
aravedayruS ayvarS
Sravya Suryadevara
Sravya Suryade
rva
 ya

In [40]:
print(a)

Sravya Suryadevara

In [43]:
print(2 == 3)
print(2 !=3)
print(2>=3)
print(3<=3)
print(-5<-9)

False
True
False
True
False

In [45]:
print(0==0.0)
print(5 ==True)
print(0 == True)
print("49" == 49)
print(7 > True)
print(7 > False)

True
False
False
False
True
True

In [55]:
a = input("enter your first name:")
b = input("enter your last name:")
print(a + b)
print(b + a)

enter your first name:Sravya
enter your last name:Suryadevara
Sravya Suryadevara
Suryadevara Sravya

In [60]:
a = int(input("enter your first number: "))
b = int(input("enter ypur second number: "))
print(a+b)

enter your first number: 10
enter ypur second number: 20
30

In [65]:
a = int(input("enter your number for iterating: "))
b = input("enter your name: ")
c = a * b
print(c)

enter your number for iterating: 4
enter your name: df
dfdfdfdf

In [68]:
for x in range(4):
    print(x, end = "")

0123

In [73]:
a = "sravya"
print(a)

sravya

In [75]:
for x in a:
    print(x)

s
r
a
v
y
a

In [78]:
print("sravya","suryadevara", sep=" ")

sravya suryadevara

In [82]:
# even or odd 
n = int(input("enter your num: "))
if n%2==0:
    print("even")
else:
    print("odd")

enter your num: 47
odd

In [91]:
# +ve, -ve or zero
n = int(input("enter your number: "))
if n>0:
    print("+ve")
elif n<0:
    print("-ve")
else:
    print("zero")

enter your number: 45
+ve

In [99]:
#factors of a number
n = 6
for x in range (1,n):
    if n%x==0:
        print(x)

1
2
3

In [101]:
# factos of a given number
n = int(input("enter your number: "))
for x in range (1,n):
    if n%x==0:
        print(x)

enter your number: 20
1
2
4
5
10

In [105]:
#Multiples of 8
a = 8
n = int(input("enter your num: "))
for x in range (1,n):
    if x%8==0:
        print(x)

enter your num: 60
8
16
24
32
40
48
56

In [112]:
#if even check multiples of 8 or not
#if odd check multiples of 7 or not
n = int(input("enter your num: "))
if n%2==0:
    print("n is even")
    if n%8==0:
        print("multiplies of 8")
    else:
        print("even but not multiple of 8")
else:
    print("n is odd")
    if n%7==0:
        print("multiple of 7")
    else:
        print("odd but not multiple of 7")

enter your num: 23
n is odd
odd but not multiple of 7

In [118]:
#perefect number or not
n = int(input("enter your number: "))
sum = 0
for x in range (1,n):
    if n%x==0:
        sum = sum+x
    else:
        continue
print(sum)
if sum==n:
    print("perfect number")
else:
    print("not a perfect number")

enter your number: 28
28
perfect number

In [13]:
# prime number or not
n = int(input("enter your number: "))
count = 0
for x in range(1,n):
    if n%x==0:
        count = count+1
    else:
        continue
print("total count of factors: ", count)
if count >= 2:
    print("not prime number")
else:
    print("prime number")

enter your number: 7
total count of factors:  1
prime number

In [128]:
#printing even numbers
for x in range (2,11,2):
    print(x)

2
4
6
8
10

In [139]:
#prime factors of a given number
n = int(input("enter your number: "))
count = 0
for x in range (1,n):
    if n%x==0:
        for y in range (1,x):
            if x%y==0:
                count = count+1
            else:
                continue
        if count<=2:
            print(x)
        else:
            continue
    else: 
        continue

enter your number: 24
1
2
3

In [140]:
#multiples of 3 using while
i = 1
while i<=10:
    print(i,end= " ")
    i = i+1

1 2 3 4 5 6 7 8 9 10

In [5]:
#factorial of numbers
n = int(input("enter your number: "))
fact = 1
for x in range (1,n+1):
    if x<=n:
        fact = fact*x
    else:
        continue
print(fact)

enter your number: 6
720

In [26]:
#fibbonaci series
n = int(input("enter the range of series: "))
t1 = 0 ; print(t1)
t2 = 1 ; print(t2)
for x in range (1,n-1):
    if x<n:
        t = t1+t2
        t1 = t2
        t2 = t
        print(t)

enter the range of series: 6
0
1
1
2
3
5

In [24]:
#leap year or not
y = int(input("enter your year: "))
if y%4==0:
    if y%100!=0:
        print("leap year")
    else:
        if y%400==0:
            print("leap year")
        else:
            print("not an leap year")
        
else:
    print("not an leap year")

enter your year: 2004
leap year