# Dictionary

In [ ]:
#Dictionary
#collection of items 
#defining dictionary
# *mydict={}
# *mydict= dict()

In [2]:
mydict = {"name":"sravya","branch":"AGE"}
len(mydict)

2

In [5]:
mydict["name"]

'sravya'

In [7]:
mydict["branch"]

'AGE'

In [8]:
mydict["surname"] #it will give key error because it is not available in dictionary

KeyError: 'surname'

In [10]:
mydict["name"] = "Navya"
print(mydict)

{'name': 'Navya', 'branch': 'AGE'}

In [11]:
mydict["surname"] = "Suryadevara"
mydict

{'name': 'Navya', 'branch': 'AGE', 'surname': 'Suryadevara'}

In [12]:
dir(mydict)

['__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [13]:
#clear will clear all the values in the dictionary
mydict.clear()

In [14]:
mydict

{}

In [15]:
mydict.clear()

In [16]:
mydict

{}

In [17]:
#copy is to take the new backup

In [18]:
#from keys
list1 = ["sravya","navya"]

In [21]:
#in from keys the list with the keys need to be mentioned in the braces
{}.fromkeys(list1)

{'sravya': None, 'navya': None}

In [22]:
{}.fromkeys(list1,8)

{'sravya': 8, 'navya': 8}

In [24]:
Students = ["sravya","navya"]
marks = [30,40]
mydict = {}
for x in range(len(Students)):
    mydict[Students[x]] = marks[x]
mydict

{'sravya': 30, 'navya': 40}

In [25]:
#Get() it will return the value in the key word
dict = {"name":"sravya","surname":"Suryadevara"}
dict.get("surname")

'Suryadevara'

In [26]:
dict.get("mobile")

In [27]:
dict.get("branch","not available")

'not available'

In [29]:
dict

{'name': 'sravya', 'surname': 'Suryadevara'}

In [30]:
#item() will return the values in the dictionary in the form of tupple
dict.items()

dict_items([('name', 'sravya'), ('surname', 'Suryadevara')])

In [31]:
#it will return the key word in the dictionary
for x in dict:
    print(x)

name
surname

In [35]:
for x in dict:
    print(x, "----->", dict[x])

name -----> sravya
surname -----> Suryadevara

In [36]:
result = dict.items()
for x in result:
    print(x)

('name', 'sravya')
('surname', 'Suryadevara')

In [37]:
result = dict.items()
for x in result:
    print(x[1])

sravya
Suryadevara

In [44]:
name = "sravya"
freq = {}
for x in name:
    n = freq.get(x, 0)# if the value is not available it will take 0
    freq[x] = n+1
print(freq)

{'s': 1, 'r': 1, 'a': 2, 'v': 1, 'y': 1}

In [46]:
#pop() it will delete the last value in the dictionary
freq.pop("s")

1

In [48]:
freq

{'r': 1, 'a': 2, 'v': 1, 'y': 1}

In [51]:
#freq.pop(k)# it will give error
freq.pop("k","key not found")

'key not found'

In [53]:
#popitem() will remove the last pair in the dictionary
freq.popitem()

('v', 1)

In [54]:
freq.popitem()

('a', 2)

In [60]:
#setdefault() is used to check wether the key value is avaialbe or not, if available it will return a value
#if not available it will create a key and insert with none
freq.setdefault("a",3)

3

In [63]:
##update() is used to update the value in the dictionary with the specified key value
dict = {"name":"sravya","branch":"AGE"}
dict1 = {"surname":"suryadevara","location":"jayapuram","name":"navya"}
dict.update(dict1)
dict

{'name': 'navya',
 'branch': 'AGE',
 'surname': 'suryadevara',
 'location': 'jayapuram'}

In [66]:
#values() is used to return the values of the dictionary
dict.values()

dict_values(['navya', 'AGE', 'suryadevara', 'jayapuram'])

# Set

#### Set: it does not accept duplicate  items it will ignore the duplicate eliments
#### it is also defined with {}
#### set is a collection of eliments of unorderd and unindexed.
#### once the set is created it can not be edited again but eliments can be added to the set by using "add()"method and "update()" method add() method will add only one eliment at a time but update() method will add multiple items at a time
#### to remove an item from the set we use "remove()" and "discard()" (if the value is note available in the set, remove() will return an error but discard() does not return error).

In [70]:
s = {10,20,30,40,10}
print(type(s))
s

<class 'set'>

{10, 20, 30, 40}

In [71]:
s1 = {10,20,60,40}
s2 = {10,30,40,70,80}
s1.union(s2)

{10, 20, 30, 40, 60, 70, 80}

In [73]:
s1 = {10,20,60,40,70}
s2 = {10,30,40,70,80}
s1.intersection(s2)

{10, 40, 70}

In [74]:
s1 = {10,20,60,40}
s2 = {10,30,40,70,80}
s1.issubset(s2)

False

In [76]:
s1 = {10,30,70,40}
s2 = {10,30,40,70,80}
s1.issubset(s2)

True

In [78]:
s1 = {10,20,60,40}
s2 = {10,30,20,60,40,70,80}
s2.issuperset(s1)

True

In [81]:
s1.issuperset(s2)

False

In [79]:
s1 = {10,20,60,40}
s2 = {10,30,40,70,80}
s1.difference(s2)

{20, 60}

In [80]:
s2.difference(s1)

{30, 70, 80}

In [82]:
s1

{10, 20, 40, 60}

In [83]:
s1.difference_update(s2)# it will update the set with the difference values

In [84]:
s1

{20, 60}

In [85]:
s1.add(100)

In [98]:
s1 = {10,20,30,40}
s1.update(["sravya","navya","suryadevara"])

In [99]:
s1

{10, 20, 30, 40, 'navya', 'sravya', 'suryadevara'}

In [100]:
print(len(s1))

7

In [86]:
s1

{20, 60, 100}

In [88]:
s1

{20, 60, 100}

In [89]:
s1.discard(10)

In [90]:
s1

{20, 60, 100}

In [91]:
s1.discard(60)

In [92]:
s1

{20, 100}

In [93]:
dir(set)

['__and__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [94]:
s1

{20, 100}

In [103]:
s1.remove("jayapuram")# error

KeyError: 'jayapuram'

#### to remove an item from the set we can also use "pop()" method but it will remove the last item in the set since the set is un-orderd and unindexed it is un predictible to define the ast value and poped value

In [101]:
s1

{10, 20, 30, 40, 'navya', 'sravya', 'suryadevara'}

students = [("sravya",[10,20,3]),("navya",[50,46,32])]
report={}
for student in students:  # accessing each student data
    name = student[0] # getting name of each student
    marks = sum(student[1]) #finding tota marks
    report[name]=marks 
    print(report)
high = max(report.values())
for student in report.items():
    if student[1] == high:
        print(student[0])

# Regular expressions

### import re ----> is the key word for regular expressions

### 3 methods
- search(str_pattern,str_data)
- match()
- findall()

In [120]:
import re  # for importing regular expressions
name = "python programming"
print(re.search("y",name))
print(re.search("s",name))   #there is no "s" data in python so it will give none
print(re.search("n",name))  # it will take the first occured searc value if there are two matching variables

<re.Match object; span=(1, 2), match='y'>
None
<re.Match object; span=(5, 6), match='n'>

In [122]:
import re
name = "python programming"
print(re.match("py",name))
print(re.match("t",name))

<re.Match object; span=(0, 2), match='py'>
None

#### the difference between search and match method is match function will check all the elements from the start and if it doesnt match at the start it will return None, but in search it will search all the elements and it will give None when the elements are not available in the source

In [123]:
re.findall("p",name)

['p', 'p']

#### in findall() method it will find all the elements of the match and will return all the matchin elements

In [127]:
import re
names = ["sairam","lakshmi","subbu"]
for x in (names):
    if re.search("a",x):
        print(x)

sairam
lakshmi

#### special caherecters in regular expressions

### .(dot)

- any single charecter

In [130]:
print(re.search("...", "python"))

<re.Match object; span=(0, 3), match='pyt'>

### ^
- means starts with

In [131]:
re.search("^.","python")  # the charecter in search after ^ for example "^p" the searching word should starts with "p"

In [133]:
print(re.search("^y","python"))

None

In [136]:
fruits = ["apple","orange","mango","grapes"]
for x in fruits:
    if (re.search("^......",x)):
        print(x)

orange
grapes

In [1]:
import re
fruits = ["apple","orange","mango","grapes"]
for x in fruits:
    if re.search("^.....$",x):
        print(x)

apple
mango

### $
- ending with
- the letter before the doller represents that the word should end with that letter

In [143]:
print(re.search("i$","python"))
print(re.search("n$","python"))

None
<re.Match object; span=(5, 6), match='n'>

##### the letter after"^" the word should starts with that letter and the letter before $ the word should end with that letter

In [144]:
re.search("^p....n$", "python programmin")

In [146]:
fruits = ["apple","orange","mango","grapes"]
for x in fruits:
    if (re.search("......$",x)):
        print(x)

apple
orange
mango
grapes

### {min,max}
- for large range select the minimum range and maximum range

In [151]:
import re 
print(re.search(".{3,10}","1234567891011"))

<re.Match object; span=(0, 10), match='1234567891'>

In [152]:
re.search(".{3,5}$","12345678")

In [160]:
result = (re.search(".{3,5}$","1234567891"))
result.group()

'67891'

In [159]:
result = (re.search(".{5}$","1234567890"))
result.group()

'67890'

In [162]:
names = ["sairam", "lakshmi", "ramu","raju","hemanth"]
for x in names:
    result = re.search("...$",x)
    print(result.group())

ram
hmi
amu
aju
nth

### \d
- Single digit it will return the first digit if there are no digits in the input it will return None
- in the statement if it is given like \d{range}2 means the input should have twodigits followed with 2

In [163]:
result = re.search ("\d", "srava531")
result.group()

'5'

In [166]:
result = re.search("\d{2}1","sravya531")
result.group()

'531'

### \D
-other than digits

In [167]:
result = re.search("\D","1234sravya67")
result.group()

's'

In [169]:
result = re.search("\D","1234 sravya67")
result.group()  # it will select space because space is also one of the charecter

' '

In [174]:
mobile = ["12345678","123456789876","1234567896","889685676","9908675645","9912343436"]
for x in mobile:
    if re.search("^\d{10}$",x):
        print(x)

1234567896
9908675645
9912343436

In [173]:
mobile = ["12345678","123456789876","123456654","889685676","9908675645","9912343436"]
for x in mobile:
    if re.search("^9\d{9}$",x):
        print(x)

9908675645
9912343436

### []
- one of the charecter in [], should have atleast one of the charecters or numbers placed in the square brackets

In [176]:
re.search("[6745]","123asdf675")

In [185]:
mobile = ["12345678","6234567896","723456654","889685676","9908675645","9912343436","8893426743"]
for x in mobile:
    if re.search("^[9876]\d{9}$",x):
        print(x)

6234567896
9908675645
9912343436
8893426743

In [188]:
result = (re.search("\$","70$"))
result.group()

'$'

In [189]:
result = re.search("\^","^sdf$")
result.group()

'^'

### *
- zero or more

In [190]:
re.search("s*","sai")

In [192]:
re.search("s*","sssstfsss")

In [193]:
re.search("s*","absssyr")

In [194]:
re.search(".*","absssyr")

In [196]:
result = re.search("^p.*n$","python")
result.group()

'python'

#### +
- one or more

In [200]:
re.search("d+","rfaaaaderfsaddfaz")

### name@gmail.com

In [202]:
emails = ["sravyaspecial@gmail.com","Srvaya531@gmail.com"]
for x in emails:
    if re.search("^[a-zA-Z]@gmail\.com$",x):
        print(x)

sravyaspecial@gmail.com

In [212]:
emails = ["sravyaspecial@gmail.com","anvesh531@gmail.com", "sravya 123@gmail.com"]
for x in emails:
    if re.search("^[a-zA-Z0-9]@gmail\.com",x):
        print(x)

### \s
- spacing charecter
### \S
- other than spacing

In [213]:
re.search("\s","sravya anvesh")

In [215]:
re.search("\S", " sravya anvesh")

### \w
- select identifiers a-z,A-Z,0-9,_

In [216]:
re.search("\w","_abc")

In [240]:
data = """

sai 1000
ram 200 
 500 lakshmi
"""
sum = 0
list = data.split()
print(list)
for x in list:
    if re.search("\d{3,10}",x):
        #print(int(x))
        sum = sum+int(x)
print(sum)

['sai', '1000', 'ram', '200', '500', 'lakshmi']
1700

In [241]:
data = """

sai 1000
ram 200 
 500 lakshmi
"""
numbers = re.findall("\d+",data)
total = 0
for x in numbers:
    total = total+int(x)
print(sum)

1700

In [242]:
re.findall("\d",data)

['1', '0', '0', '0', '2', '0', '0', '5', '0', '0']